:root {
  margin: 0px;
  min-height: 100vh;
  --iconCount: 4;
  --peppermint: #686868;
  --silver: #c8bfc7;
  --gunmetal-dark: #303130;
  --gunmetal-darker: #0a0a0a;
  --emerald: #00cd78;
  --grey: #bababa;
  --lightGrey: #cccccc;
  --charlestonGreen: #2c2c2c;
  --onyx: #35383a;
  --davysGrey: #565453;
  --chineseSilver: #cbcdd0;
  --silverFoil: #afafaf;
}

body {
  margin: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--chineseSilver);
}
